.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.controls {
  margin-bottom: 10px;
}

button {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Hide date row */
.rct-dateHeader {
  display: none;
}

/* Remove group title column */
.rct-sidebar {
  display: none !important;
}
